.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
lib/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

!dist/extension.d.ts
!dist/extension.js.map
